<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBdorA8blAl5CWx6wxUgN7jfOmkYYWxNCM</string>
	<key>GCM_SENDER_ID</key>
	<string>580752072488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialHub</string>
	<key>PROJECT_ID</key>
	<string>social-hub-2ea36</string>
	<key>STORAGE_BUCKET</key>
	<string>social-hub-2ea36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580752072488:ios:e24614a6b57bcaaca77a1d</string>
</dict>
</plist>